.navbar {
    background-image: linear-gradient(to right, #e4ecf0, #96a7bd, #7f96c2);
  }
  .navbar .navbar-brand {
    color: #31213a !important;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .nav-link {
    font-size: 1.2rem;
  }
  
  .navbar h6 {
    margin-top: 0px;
    margin-right: 20px;
  }